Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# Jeśli katalog lub plik istnieje, użyj go bezpośrednio
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# W innym przypadku przekieruj na index.php
RewriteRule . index.php